<div class="container">
  <div class="row">
    <h2 class="col s12">Log in</h2>
  </div>
  <div class="row">
    
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)), class: "col s12" do |f| %>

      <div class="row">
        
        <div class="input-field col s6">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true %>
        </div>

        <div class="input-field col s6">
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "off" %>
        </div>

        <div class="actions">
          <%= f.submit "Log in" %>
        </div>
      </div><!-- inside form row -->
    <% end %>
      
  </div>
</div>


<%= render "users/shared/links" %>
