<h1>Create a New Job</h1>

<% if @job.errors.full_messages.any? %>
	<% @job.errors.full_messages.each do |error| %>
		<p><%= error %></p>
	<% end %>
<% end %>

<%= form_with model: @job, local: true do |f| %>
	<%= f.text_field :title, placeholder: 'Job Title' %>
	<%= f.text_area :description, placeholder: 'Job Description' %>
	<%= f.number_field :cost, placeholder: 'Cost' %>
	<%= f.number_field :containers, placeholder: 'Containers' %>
	<%= f.select(:origin) do %>
		<option value="" disabled selected>Select an Origin Location</option>
		<% ["ADALV, Andorra la Vella, Andorra", "AEAAN, Al Ain, United Arab Emirates", "AFBAG, Bagram, Afghanistan", "AGANU, Antigua, Antigua and Barbuda", "ATFUR, Fürnitz, Austria", "BEAAB, Aalst, Belgium", "BSWZY, Seaplane Base, Bahamas", "BEFR, Brest, France", "GLAGM, Angmagssalik, Greenland", "NPANP, Annapurna, Nepal"].each do |origin| %>
			<option value="<%= origin %>"><%= origin %></option>
		<% end %><!-- each loop -->
	<% end %><!-- Select Do -->
	<%= f.select(:destination) do %>
		<option value="" disabled selected>Select an Destination Location</option>
		<% ["ADALV, Andorra la Vella, Andorra", "AEAAN, Al Ain, United Arab Emirates", "AFBAG, Bagram, Afghanistan", "AGANU, Antigua, Antigua and Barbuda", "ATFUR, Fürnitz, Austria", "BEAAB, Aalst, Belgium", "BSWZY, Seaplane Base, Bahamas", "BEFR, Brest, France", "GLAGM, Angmagssalik, Greenland", "NPANP, Annapurna, Nepal"].each do |destination| %>
			<option value="<%= destination %>"><%= destination %></option>
		<% end %><!-- each loop -->
	<% end %><!-- Select Do -->
	<%= f.submit %>
<% end %>