<div class="container">
	<div class="row">
		<h1 class="col s12">Create a New Job</h1>
	</div>
	<div class="row">
		<% if @job.errors.full_messages.any? %>
			<% @job.errors.full_messages.each do |error| %>
				<p class="col s12"><%= error %></p>
			<% end %>
		<% end %>
	</div>
	

	<%= form_with model: @job, local: true, class: 'col s12' do |f| %>
		<%= f.hidden_field :open, value: true %>
		<div class="input-field">
			<%= f.text_field :title, placeholder: 'Job Title', class: "col s12" %>
		</div>
	  <div class="input-field">
	  	<%= f.text_area :description, placeholder: 'Job Description', class: "materialize-textarea description-field" %>
  	</div>
		<div class="input-field">
			<%= f.number_field :cost, placeholder: 'Cost', class: "col s12" %>
		</div>
		<div class="input-field col s12">
				<%= f.number_field :containers, placeholder: 'Containers', class: "validate" %>
		</div>
		<div class="input-field">
			<%= f.select :origin, ["ADALV, Andorra la Vella, Andorra", "AEAAN, Al Ain, United Arab Emirates", "AFBAG, Bagram, Afghanistan", "AGANU, Antigua, Antigua and Barbuda", "ATFUR, Fürnitz, Austria", "BEAAB, Aalst, Belgium", "BSWZY, Seaplane Base, Bahamas", "BEFR, Brest, France", "GLAGM, Angmagssalik, Greenland", "NPANP, Annapurna, Nepal"], prompt: "Select Job Origin", class: "col s12 input-field"%>
		</div>
		<div class="input-field">
			<%= f.select :destination, ["ADALV, Andorra la Vella, Andorra", "AEAAN, Al Ain, United Arab Emirates", "AFBAG, Bagram, Afghanistan", "AGANU, Antigua, Antigua and Barbuda", "ATFUR, Fürnitz, Austria", "BEAAB, Aalst, Belgium", "BSWZY, Seaplane Base, Bahamas", "BEFR, Brest, France", "GLAGM, Angmagssalik, Greenland", "NPANP, Annapurna, Nepal"], prompt: "Select a Destination", class: "col s12 input-field"%>
		</div>
		<%= f.submit 'Create New Job', class: 'btn waves-effect waves-light' %>
	<% end %>

</div><!-- container -->