<div class="boat_info col s12 m6">
	<div class="card">
		<div class="card-image boat-image">
        <%= image_tag(boat.avatar.url, class: "boat-avatar") %>
      </div>
		<div class="card-content">
			<div class="row">
				<%= form_with model: boat, class: 'boat_edit_form' do |f| %>
	        <a class="btn-floating halfway-fab waves-effect waves-light red boat_edit"><%= icon('pencil') %></a>
					<%= f.file_field :avatar, class: 'hide-boat-field'%>
					<%= f.text_field :name, value: boat.name, readonly: true, class: 'boat_edit_field boat_first_field title' %>
					<% if boat.user == current_user %>
					<% else %>
					<div class="row">
						<p class="col"><strong>Boat Owner:</strong> <%= boat.user.name %></p>
					</div>
					<% end %>
					<p><strong>Container Capacity:</strong></p>
					<%= f.number_field :containers, value: boat.containers, readonly: true, class: 'boat_edit_field boat_first_field' %> 
					<div class="row">
						<p><strong>Location:</strong> <%= boat.location %></p>
					</div>
					<div class="row">
						<div class="input-field hide-boat-field">
							<%= f.select :location, ["ADALV, Andorra la Vella, Andorra", "AEAAN, Al Ain, United Arab Emirates", "AFBAG, Bagram, Afghanistan", "AGANU, Antigua, Antigua and Barbuda", "ATFUR, Fürnitz, Austria", "BEAAB, Aalst, Belgium", "BSWZY, Seaplane Base, Bahamas", "BEFR, Brest, France", "GLAGM, Angmagssalik, Greenland", "NPANP, Annapurna, Nepal"], prompt: "Select a Current Location", class: "boat_edit_field col s12 input-field"%>
						</div>
					</div>
					<%= f.submit "Make Changes", class: 'boat_make_changes btn waves-effect waves-light' %>
					<% if boat.user == current_user %>
						<%= link_to "Delete", boat, method: :delete, class: "delete_boat", remote: true %>
					<% end %>
				<% end %>
			</div>
		</div><!-- description -->
		<ul class="collapsible" data-collapsible="accordion">
	    <li>
	      <div class="collapsible-header"><i class="material-icons"></i>Bookings</div>
	      <div class="collapsible-body"><span>
	      	<h5>Bookings</h5>
					<% boat.bookings.each do |booking| %>
						<div class="booking">
						<% if booking %>
							<p><%= booking.job.title %></p>
							<%= link_to "Remove", booking, method: :delete, class: 'remove_booking', remote: true %>
							<% else %>
								<p>This boat has no bookings</p>	
							<% end %>	
						</div>
					<% end %>
	      </span></div>
	    </li>
	  </ul>
	</div><!-- end of card -->
</div>