<h1>Add a new boat</h1>
<%= form_with model: @boat do |f| %>
	<%= f.text_field :name, placeholder: 'Boat Name' %>
	<%= f.number_field :containers, placeholder: 'Container Capacity' %>
	<%= f.text_field :location, placeholder: 'Current Location' %>
	<%= f.submit %>
<% end %>
